.Header{
    display: flex;
    justify-content:space-between;
    border: 1px solid black;
}

.Logo{
    width: 100px;
}

.Nav_items>ul{
    font-size: 25px;
    display: flex;
    list-style-type: none;
   padding: 0px 50px;
    
}
.Nav_items >ul> li{

     padding: 10px;
     margin: 10px;
    
}

.Res_container{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 10px;
    /* background-color: yellow; */
}

.Search-bar{
    padding: 10px;
    margin: 10px;
}


.res-logo{
    width: 100%;
   
}