@import "tailwindcss";


/* 
.Header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
}

.header-button {
  background-color: rgb(241, 241, 59);
  margin-left: 30px;
  font-size: 22px;
  width: 120px;
  height: 80px;
  cursor: pointer;
}

.Logo {
  width: 100px;
}
.Body {
  
  margin: 50px;
}

.Nav_items > ul {
  font-size: 25px;
  display: flex;
  list-style-type: none;
  padding: 0px 50px;
  align-items: center;
}
.Nav_items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res_card {
  width: 200px;
  
  padding: 10px;
  margin: 5px;
  height: auto;
  
  background-color: #f0f0f0;
}

.res_card:hover {
  border: 1px solid black;
  cursor: pointer;
}



.Filter {
  display: flex;
  gap: 20px;
}

.Filter_button {
  background-color: khaki;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.search {
  padding: 20px;
}

.search-box {
  height: 30px;
  width: 200px;
  padding: 5px;
}

.searchbutton {
  

  width: 80px;
  height: 30px;
}

.res-logo {
  width: 100%;
  height: 180px;
 
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.restaname {
  font-size: 25px;
}

.shimmer-container {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}

.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px;
}

.user-card {
  margin: 30px;
  padding: 10px;
  background-color: #f0f0f0;
  height: auto;
  width: 300px;
  border: solid ;
}


*/


